<html>
<head>
<link rel="stylesheet" type="text/css" href="site.css"></link>
</head>

<body>


  <form action="/newList" method="post">
    <h3>Start a new shopping List/h3>
      <input type="text"  name="shoppingList" />
    <h3>Enter an item to this list</h3>
      <form action="/addItem" method="post">
          <input type="text" placeholder="Enter 1st item." name="groceryItem" />
          <input type="submit"/>
      </form>

</body>

</html>
